:root {
	--blue: #6593A6;
	--grey: #58595B;
	--yellow: #F2CF63;
	--orange: #F2C063;
	--white: #F2F2F2;
}

/* Utility Classes */

.container {
	margin: auto;
	max-width: 1024px;
}

.sr-only {
	position: absolute;
	left: -9999px;
	top: -9999px;
}

/* Typography */

body {
	background-color: var(--grey);
	font-family: 'Karla', sans-serif;
}

h2 {
	margin-bottom: 1rem;
}


/* Header */

header {
	background-color: var(--blue);
	padding: 1rem;
}

header img {
	height: 4rem;
}

.upper-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu-toggle {
	cursor: pointer;
}

.menu-toggle svg path {
	fill: var(--white);
}

.menu-toggle p {
	color: var(--white);
	text-align: center;
}

.menu-toggle:hover svg path,
.menu-toggle:hover p {
	fill: var(--orange);
	color: var(--orange);
	transition: 0.3s all ease-in-out;
}

/* Search Form */
header form {
	margin-top: 1rem;
	display: flex;
}

input[name="search-bar"] {
	width: 100%;
	padding: 0.5rem;
	border: none;
	border-radius: 0.4rem 0 0 0.4rem;
}

header input [type="submit"] {
	height: 40px;
	width: 40px;
	background-color: var(--orange);
	border: none;
	border-radius: 0 0.4rem 0.4rem;
	cursor: pointer;
}

.magnifying-glass {
	position: relative;
	cursor: pointer;
}


.magnifying-glass svg {
	width: 1.8rem;
	position: absolute;
	top: 5px;
	right: 5px;
}

.magnifying-glass svg path {
	fill: var(--grey);
}


/* Login Form */
main {
	padding: 2rem 1 rem;
}

main .container {
	background-color: var(--white);
	padding: 2rem 2rem;
	border-radius: 0.4rem;
}

main form label {
	display: block;
	margin-bottom: 0.5rem;
}

main form div {
	margin-bottom: 1rem;
}

main .login {
	padding-bottom: 2rem;
	border-bottom: 2px dashhed var(--grey);
	margin-bottom: 2rem;
}

.login form input {
	width: 100%;
}

/* Sign-Up Area */



/* Media Queries */

@media screen and (min-width: 720px) {
	
}




